@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
        {
            <li class="nav-item">
                <a href="/Admin" class="btn btn-outline-warning me-1 my-1">Panel administratora</a>
            </li>
        }
    }
</ul>
