@model IEnumerable<DietApp.Models.DailyConsumption>


<div class="text-center">
    <div class="card">
        <div class="card-header">
            <div class="chart">
                <canvas id="barchart"></canvas>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js"></script>
<script type="text/javascript">
    var barCanvas = document.getElementById("barchart");
    var DailyConsumption = [];//these are all javascript array variables
    var modelArray = @Html.Raw(Json.Serialize(Model));
    modelArray = modelArray.reverse();
    console.log(modelArray);
    var caloricArray = []
    var dateArray = []
    for(var key in modelArray){
        caloricArray.push(modelArray[key].caloricBalance)
        dateArray.push(modelArray[key].date)
    }
    var DailyConsumption = {
        label: 'Calories',
        data: caloricArray,
        backgroundColor: 'rgb(255, 99, 132)',
        borderWidth: 0,
        lineTension: 0,
    };
    var datasetvalues = {
        labels: dateArray,//x-axis label values
        datasets: [DailyConsumption]//y-axis
    };
    var chartOptions = {
        scales: {
            xAxes: [{
                barPercentage: 1,//Percent (0-1) of the available width each bar should
                categoryPercentage: 0.6,//Percent (0-1) of the available width each category
            }],
            yAxes: [{
                barPercentage: 1,
                categoryPercentage: 0.6,
                ticks: {
                    beginAtZero: true
                }
            }],
        }
    };
    var barChart = new Chart(barCanvas, {
        type: 'bar',
        data: datasetvalues,
        options: chartOptions
    });
</script>